EXPO_PUBLIC_APP_URL=https://your-api-domain.com
EXPO_PUBLIC_AGORA_APP_ID=your_agora_app_id
EXPO_PUBLIC_EVENTS_INFO_SECTION_URL=https://lionsgeek.ma/
EXPO_PUBLIC_EVENTS_INFO_USE_PROXY=true
EXPO_PUBLIC_EVENTS_INFO_SECTION_KEY=your_events_api_key
